body {
  background-color: #0d0d0d;
}
.div__btn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px 10px;
  border: transparent;
  border: 2px solid #ffff00;
  font-size: 12px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  display: flex;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 10px 0.1px #ffff00;
  border-radius: 5px;
}
