body ul {
    background-color: #646464;
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: sans-serif;
    margin: auto;
    padding: auto;
   }

body ul a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block ;
}

ul li:hover {
    background: #fcccac;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 150px;
    display: none;
}

ul li ul li {
    background: #c8c8c8;
    display: block;
}

ul li ul li a { 
    display: block !important;
}

ul li ul li:hover {
    background: 
    #949494;
}